.todo {
  display: flex;
  border: solid 2px #cccccc;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 5px;
  position: relative;
}

.strikethrough {
  text-decoration: line-through;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.flex-btn {
  display: flex;
}

.toto-header {
  margin-top: 0;
}

.todo-launch-icon {
  color: #888888;
  display: inline;
  position: absolute;
  right: 5px;
  top: 5px;
}